# Virtual Environment
.venv/
__pycache__/
*.pyc

# Local Credentials and Keys
.env
.streamlit/secrets.toml

# Binary Caches & Uploaded Resumes (Keeps git history lightweight)
static/cache/*
!static/cache/.gitkeep
data/*
!data/.gitkeep